
/* root {
    --animate-duration: 1800ms;
    --animate-delay: 0.19s;
  } */

  /* Grow */

 .element {
  opacity: 0;
  transition: opacity 0.5s 0.3s; /* Delayed transition with 0.5s delay */
}

.element.animate {
  opacity: 1;
}

  
  
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}


/* Pulse Shrink */
@-webkit-keyframes hvr-pulse-shrink {
    to {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes hvr-pulse-shrink {
    to {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .hvr-pulse-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse-shrink:hover, .hvr-pulse-shrink:focus, .hvr-pulse-shrink:active {
    -webkit-animation-name: hvr-pulse-shrink;
    animation-name: hvr-pulse-shrink;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }
  
  /* Push */
  @-webkit-keyframes hvr-push {
    50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes hvr-push {
    50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  } 

.popup-message {
    position: fixed;
    top: 200px;
    /* Adjust the value based on the height of your header */
    left: 50%;
    transform: translateX(-50%);
    background-color: lightgray;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    z-index: 9999;
}


#typed-text {
    border-bottom: 2px solid black;
    margin: 0;
}

/* #cursor {
    display: inline-block;
    width: 2px;
    height: 15px;
    background-color: black;
    animation: blink-animation 0.7s infinite;
} */

@keyframes blink-animation {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}
a.button {
    background-color: gray;
    color: white;
    display: inline;
    padding: 8px 20px;
    text-decoration: none;
    margin-right: 10px;
    font-size: 14px;
  }
  
  a.button:hover, focus{
  text-decoration: none;
  border-bottom: 0px;
  }
    

#filter-buttons {
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.195);
    margin-bottom: 20px;
}

.filter-button {
    margin: 0px;
    padding: 6px 12px;
    border: none;
    border-radius: 0px;
    background: none;
    color: #808080;
    cursor: pointer;
}

.filter-button:focus {
    outline: none;
    color: #ffffff;
    border: 1px solid gray;
    background-color: #000;
}

.filter-button:hover {
    text-decoration: underline;
    background-color: #000000;
}


/* .filter active {
    color: #d31313;
  } */


/* black theme start */
.body-black {
    background-color: #1f1f1f;
    color: #ffffff;

    .navigation-list__item {
        font-size: 16px;
        color: #808080;
        text-decoration: none;
       
    }

    .navigation-list__item:hover,
    .navigation-list__item:focus {

        color: rgb(255, 255, 255);
        text-decoration: none;
        border-bottom: 2px solid rgb(255, 255, 255);
    }

    .navigation-list__item--active {

        color: rgb(255, 255, 255);
    }


    .navigation-list {
        list-style-type: none;
        display: inline;

    }

    .navigation-list li {
        display: inline-block;
        margin-left: 15px;
    }

}

/* DONT________________________________________ DELETE */
/* .body-black a {
    color: white;
    text-decoration: underline;

}

.body-black a:visited {

    text-decoration: none;
}

.body-black a:hover {

    border-bottom: 2px solid white;

}

.body-black a:focus {

    border-bottom: 2px solid white;

}

.body-black a:active {
    color: white;
} */



/* black theme ends */


#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 16px;
    padding: 10px;
    border: 2px solid white;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

#backToTopBtn.show {
    display: block;
}



body {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.75;
    transition: background-color 0.3s ease;
    background-color: #ffffff;
    color: #1f1f1f;

    /* padding: 20px 100px 20px 100px; */

}

.main {
    padding-left: 150px;
    padding-right: 150px;
}

a {
    color: black;
    text-decoration: underline;
}

a:visited {

    text-decoration: none;
}

a:hover,
a:focus {

    border-bottom: 2px solid black;

}

a:active {
    color: black;
}


* {
    box-sizing: border-box;
}


.navigation-list__item {
    font-size: 16px;
    color: #808080;
    text-decoration: none;
    
}

.navigation-list__item:hover,
.navigation-list__item:focus {

    color: rgb(255, 255, 255);
    text-decoration: none;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.navigation-list__item--active {

    color: rgb(255, 255, 255);
}


.navigation-list {
    list-style-type: none;
    display: inline;

}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}



.info {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0;

}

.info h2 {
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    padding-bottom: 10px;
    margin: 0;

}

.info li {
    display: inline-block;
    justify-content: space-between;
    margin-right: 30px;
}

.info span {
    font-weight: bold;
    font-style: normal;
    font-style: normal;
}

h1 {
    font-family: 'Sanchez', serif;
    font-size: 40px;
}

h2 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

h3 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    font-size: 18px;
}



button {
    border: none;
    font-family: inherit;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}


button:hover,
button:focus {
    opacity: 0.8;
    transition: 100ms;
}
button:active {
    opacity: 0.8;
}
button:visited {
    opacity: 0.8;
}
#button_toggle_black {
    height: auto;
    width: 100px;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    padding: 0;
    cursor: pointer;
}

#button_toggle_white {
    height: auto;
    width: 100px;
    background-color: #ffffff;
    color: #2b2b2b;
    font-size: 16px;
    border: none;
    padding: 0;
    cursor: pointer;



}




.profile__portrait {
    float: left;
    max-width: 50vw;
    margin-right: 40px;
    border-radius: 1%;
}


.toggle-container__column {

    background-color: rgba(111, 109, 109, 0.382);
    padding: 50px 150px 50px 150px;
    margin-top: 20px;

    /* margin-top: 100px; */
}

/* .toggle-container__column h2 {
    padding-top: 20px;
} */

.toggle-container__row {

    width: 100%;
    display: flex;
}

.toggle-container__row p {

    font-size: 20px;
}
.toggle-container__row--item h2 span{
font-size: 16px;

}
.toggle-container__row--item {
    margin-right: 20px;
    flex: 1 1 100px;
    max-width: 500px;
    max-height: auto;
    justify-content: space-between;
}
.toggle-container__column--h2 {
    padding-top: 20px;
}
.toggle-container__row--item:nth-child(2) {
    max-width: 200px;
    height: auto;
}

.toggle-container__row--item:nth-child(1) {
    max-width: 200px;
    height: auto;
}

/* .toggle-container__row--item:nth-child(3) {
    margin-right: 0px;
    margin-left: 20px;
    flex-basis: 400px;
    max-width: 500px;
} */

.text-padding {
    margin: 0;

}

#about-heading {
    padding: 50px 0px 20px 0px;
}

.hero-paragraph span {
    position: absolute;
}

#work {
    padding: 50px 0px 20px 0px;
}

/* 
.about-detail {
    max-width: 100;
} */
.page-footer1 {
    width: 100%;
    color: #ffffff;
    background-color: #000000;
    padding: 20px 100px 20px 100px;
    clear: both;
    display: flex;
    flex-direction: row;
    text-align: center;



}

.page-footer {
    flex: 1 1 500px;
}

.page-footer p {
    margin-bottom: 0px;
}

.page-footer a {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
   
}

.page-header {
    background-color: black;
    display: flex;
    width: 100%;
    padding: 20px 50px 20px 50px;
    position: fixed;
    top: 0;
    z-index: 999;
    align-items: center;
  
}

.page-header__item {
    flex: 0 1 50px;
    justify-content: space-between;

}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.social-media__item {
    justify-content: space-between;
    margin: 10px;
    fill: white;
    text-decoration: none;
}


.hero-heading {
    font-size: 80px;
    padding-top: 20px;
    margin: 0;
    padding: 0;
    text-align: left;
    letter-spacing: 3px;
}

.hero-paragraph {
    font-size: 30px;
    text-align: left;
    margin: 0;
    letter-spacing: 3px;
}


#logo-image {
    /* width: 2em; */
    height: 2em;
}


.project {

    background-color: rgba(128, 128, 128, 0.074);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;





}

.project-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0px;
    padding: 20px;
    flex: 0 1 100%;
    max-width: 800px;
    max-height: auto;
    /* text-align: center; */

}

.project-list a {
    text-decoration: none;
    font-weight: bold;
}

.project-list a:hover {
    border-bottom: none;

}

/* .project-image-cover:hover,
focus,
active {
    border: 5px solid gray;
    transition: 100ms;
} */

.project-name:hover,
focus {
    text-decoration: underline;
   

}

.project-list p {
    font-size: 14px;
}


#contact {
    padding: 20px 0px 20px 0px;
    /* margin-top: 30px; */
    margin-bottom: 0px;
    text-align: center;
   
}

.contact-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 20px 0px 20px 0px;
    /* border: 1px solid gray; */
    background-color: rgba(128, 128, 128, 0.074);
    align-items: center;
    justify-content: center;
    

}


.contact-container a {
    margin-right: 10px;
    font-size: 20px;
    font-weight: 600;
}

#contact h1 {
    font-size: 70px;
    margin: 0;
}

.contact-button__container {
    display: inline-block;
    justify-content: center;

}


.contact-button__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-button__container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 10px;
}

.contact-button__container a:last-child {
    margin-right: 0;
}
.tools-section-wrapper{
    margin-bottom: 20px;
    padding: 20px;

background-color:rgba(128, 128, 128, 0.074);
}

.tools-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tools-section__item{
   
    align-items: center;
    flex-basis: 300px;
    
padding: 50px 50px 50px 50px;
}
.skills-wrapper {
    /* background-color: rgba(128, 128, 128, 0.195); */
    display: flex;
    justify-content: space-between;


}


.skills-column {
    /* margin-right: 40px; */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1500px;
    /* border: 1px solid gray; */
    background-color: rgba(128, 128, 128, 0.074);
    max-width: 1500px;
    padding: 20px;


}

.skills-column:first-child {
    margin-right: 40px;


}

.skills-column h2 {
    margin-top: 0;
    margin-bottom: 30px;
}

.professional-skills-container {
    margin: 0;
    padding: 0;
}

.personal-skills-container {
    margin: 0;
    padding: 0;
}

.professional-skills__item {
    list-style-type: none;
    margin-bottom: 30px;
    font-size: 14px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.195);
    padding-bottom: 5px;
    font-weight: 500;
}

.personal-skills__item {
    list-style-type: none;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid rgba(128, 128, 128, 0.195);
    padding-bottom: 5px;
}

#skills {
    padding: 50px 0px 20px 0px;
}

.experience-section {
    margin-top: 10;
    padding-top: 20px;
}
.experience-section h2{
    padding-bottom: 10px;
}
.experience__item {
    margin-bottom: 30px;
}

.experience-container {
    margin-bottom: 60px;
}

.experience-container1 {
    margin-bottom: 0px;
}

#experience {
    padding: 50px 0px 0px 0px;
}

#email-button {
    display: inline-block;
    font-family: 'Libre Franklin', sans-serif;
    padding: 7px 60px;
    background-color: #337ab7;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 15px;
    /* border-bottom: 1px solid white; */

}


#email-button:hover {
    border-bottom: none;

}


.whatsapp-button:hover,
focus  {
    border-radius: 0px;
    color: #000;

    border-bottom: none;

}

.whatsapp-button:hover,
focus  {
    
    border-radius: 0px;
    color: #000;

    border-bottom: none;
    
}

.whatsapp-button:focus {
    border-radius: 12px;
    border-bottom: 1px solid rgb(0, 0, 0);

}

/* .whatsapp-button {
    border-radius: 12px;
    border-bottom: 1px solid white;
     
  } */

#qr-code {
    margin-top: 20px;
}


.hamburger-menu {
    display: none;
}

.thanks{
    width: 100%;
    text-align: center;
    padding: 0px 0px 30px 0px;
    font-size: 40px;
    margin: 0;
}














@media  screen and (min-width: 769px) {
    .main {
        padding-left: 50px;
        padding-right: 50px;

    }

    .toggle-container__column {

        padding: 50px 50px 50px 50px;

    }

}


/* Mobile-specific styles */
@media screen and (max-width: 768px) {

    .popup-message {
        position: fixed;
        top: 200px;
        /* Adjust the value based on the height of your header */
        left: 50%;
        transform: translateX(-50%);
        background-color: lightgray;
        color: #000000;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        font-size: 16px;
        z-index: 9999;
    }


    #typed-text {
        border-bottom: 2px solid #e34234;
        margin: 0;
    }

    /* #cursor {
        display: inline-block;
        width: 2px;
        height: 15px;
        background-color: black;
        animation: blink-animation 0.7s infinite;
    } */

    @keyframes blink-animation {

        0%,
        100% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }
    }

    #filter-buttons {
        display: inline-block;
        background-color: rgba(128, 128, 128, 0.195);
        margin-bottom: 20px;
    }

    .filter-button {
        margin: 0px;
        padding: 6px 12px;
        border: none;
        border-radius: 0px;
        background: none;
        color: #808080;
        cursor: pointer;
    }

    .filter-button:focus {
        outline: none;
        color: #ffffff;
        border: 1px solid gray;
        background-color: #000;
    }

    .filter-button:hover {
        text-decoration: underline;
        background-color: #000000;
    }

    /* .filter active {
        color: #d31313;
      } */


    /* black theme start */
    .body-black {
        background-color: #1f1f1f;
        color: #ffffff;
        line-height: 1.9;
        font-size: 16px;

        /* 
         */
        .menu-items {
            position: absolute;
            top: 60px;
            right: 0;
            background-color: #000000;
            padding: 10px;
            list-style: none;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s ease;
            border: 1px solid #808080;
            ;
        }

        .menu-items.show {
            opacity: 1;
            pointer-events: auto;
        }

        .menu-items li {
            margin-bottom: 10px;
        }

        .menu-items li a {
            color: #ffffff;
            text-decoration: none;
        }

        .menu-items li a:hover {
            color: #ffffff;
        }

       



        /* .navigation-list__item {
            font-size: 16px;
            color: #808080;
            text-decoration: none;

        }

        .navigation-list__item:hover,
        .navigation-list__item:focus {

            color: rgb(255, 255, 255);
            text-decoration: none;
            border-bottom: 2px solid rgb(255, 255, 255);
        }

        .navigation-list__item--active {

            color: rgb(255, 255, 255);
        }


        .navigation-list {
            list-style-type: none;
        }

        .navigation-list li {
            display: inline-block;
            margin-left: 15px;
        } */

    }

/* DONT__________________________________________________DELETE */
    /* .body-black a {
        color: white;
        text-decoration: underline;

    }

    .body-black a:visited {

        text-decoration: none;
    }

    .body-black a:hover {

        border-bottom: 2px solid white;

    }

    .body-black a:focus {

        border-bottom: 2px solid white;

    }

    .body-black a:active {
        color: white;
    }
 */


    /* black theme ends */


    #backToTopBtn {
        display: none;
        position: fixed;
        bottom: 50px;
        right: 20px;
        z-index: 99;
        font-size: 16px;
        padding: 10px;
        border: 2px solid #e34234;
        background-color: #e34234;
        color: #fff;
        cursor: pointer;
    }

    #backToTopBtn.show {
        display: block;
    }



    body {
        font-family: 'Libre Franklin', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.75;
        transition: background-color 0.3s ease;
        background-color: #ffffff;
        color: #1f1f1f;
        line-height: 1.9;

        /* padding: 20px 100px 20px 100px; */

    }

    .main {
        padding-left: 20px;
        padding-right: 20px;
    }

    a {
        color: black;
        text-decoration: underline;
    }

    a:visited {

        text-decoration: none;
    }

    a:hover,
    a:focus {

        border-bottom: 2px solid black;

    }

    a:active {
        color: black;
    }


    * {
        box-sizing: border-box;
    }


    /* .navigation-list__item {
        font-size: 16px;
        color: #808080;
        text-decoration: none;
    }

    .navigation-list__item:hover,
    .navigation-list__item:focus {

        color: rgb(255, 255, 255);
        text-decoration: none;
        border-bottom: 2px solid rgb(255, 255, 255);
    }

    .navigation-list__item--active {

        color: rgb(255, 255, 255);
    }


    .navigation-list {
        list-style-type: none;
    }

    .navigation-list li {
        display: inline-block;
        margin-left: 15px;
    } */



    .info {
        list-style-type: none;
        padding: 0;
        margin: 20px 0 0 0;

    }

    .info h2 {
        font-weight: 400;
        font-size: 20px;
        font-style: italic;
        padding-bottom: 10px;
        margin: 0;

    }

    .info li {
        display: inline-block;
        justify-content: space-between;
        margin-right: 30px;
    }

    .info span {
        font-weight: bold;
        font-style: normal;
        font-style: normal;
    }

    h1 {
        font-family: 'Sanchez', serif;
        font-size: 24px;
    }

    h2 {
        font-family: 'Libre Franklin', sans-serif;
        font-weight: 700;
        font-size: 20px;
    }

    h3 {
        font-family: 'Libre Franklin', sans-serif;
        font-weight: 700;
        font-size: 16px;
    }



    button {
        border: none;
        font-family: inherit;
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 10px;
        border-radius: 3px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    }

    button:hover,
    button:focus {
        opacity: 0.8;
    }




    .profile__portrait {
        float: none;
        max-width: 100%;
        margin-right: 20px;
        border-radius: 1%;
    }


    #button_toggle_black {
        background-color: #1f1f1f;
        color: #ffffff;
        font-size: 12px;
        border: none;
        width: 1500px;
        font-weight: bold;
    }

    #button_toggle_white {
        background-color: #ffffff;
        color: #2b2b2b;
        font-size: 12px;
        border: none;
        width: 1500px;
        font-weight: bold;
    }


    .toggle-container__row p {
        font-size: 16px;

    }

    .toggle-container__row h2 {
        font-size: 14px;
    }

    .toggle-container__column {
        display: flex;
        flex-direction: column;
        background-color: rgba(128, 128, 128, 0.195);
        padding: 50px 20px 60px 20px;
        flex: 1 1 500px;
        /* margin-top: 100px; */
    }


    .toggle-container__row {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
    }


    .toggle-container__row--item {
        margin-bottom: 10px;
        flex: 1 1 100px;
        max-width: 100%;
        max-height: 40px;
        justify-content: space-between;
    }
    .toggle-container__row--item h2{
        display: none;

    }
   

    .toggle-container__row--item:nth-child(2) {
        max-width: 100%;
        height: auto;
    }
    
    .toggle-container__row--item:nth-child(1) {
        max-width: 100%;
        height: auto;
    }

    /* .toggle-container__row--item:nth-child(3) { order: 2; } */

    .text-padding {
        margin: 0;

    }

    #about-heading {
        padding: 20px 0px 20px 0px;
    }
   

    .hero-paragraph span {
        position: absolute;
    }

    #work {
        padding: 30px 0px 20px 0px;
    }

    /* 
    .about-detail {
        max-width: 100;
    } */
    .page-footer1 {
        width: 100%;
        color: #ffffff;
        background-color: #000000;
        padding: 20px 20px 20px 20px;
        clear: both;
        display: flex;
        flex-direction: column;
        text-align: center;
        border-top: 1px solid white ;



    }

    .page-footer {
        flex: 1 1 100px;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin-bottom: 10px;
    }

    .page-header {
        display: none;

    }

    .page-header__item {
        flex: 0 1 50px;


    }

    .page-header__item:last-child {
        flex-grow: 1;
        text-align: right;
    }

    .social-media__item {
        justify-content: space-between;
        fill: #ededed;
    }


    .hero-heading {
        font-size: 40px;
        padding-top: 0px;
        padding-bottom: 10px;
        margin: 0;
        text-align: left;
        letter-spacing: 1px;
    }

    .hero-paragraph {
        font-size: 20px;
        text-align: left;
        margin: 0;
        letter-spacing: 0px;
    }


    #logo-image {
        /* width: 2em; */
        height: 2em;
    }


    .project {

        background-color: rgba(128, 128, 128, 0.074);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;





    }

    .project-list {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0px;
        padding: 20px;
        flex: 0 1 100%;
        max-width: 800px;
        max-height: auto;
        /* text-align: center; */

    }

    .project-list a {
        text-decoration: none;
        font-weight: bold;
    }

    .project-list a:hover {
        border-bottom: none;

    }

    .project-image-cover:hover,
    focus,
    active {
        border: 5px solid gray;
    }

    .project-name:hover,
    focus {
        text-decoration: underline;

    }

    .project-list p {
        font-size: 14px;
    }


    #contact {
        padding: 20px 0px 20px 0px;
        /* margin-top: 30px; */
        margin-bottom: 0px;
        text-align: center;

    }


    .contact-container {
        margin-top: 50px;
        padding: 20px 0px 20px 0px;
        /* border: 1px solid gray; */
        background-color: rgba(128, 128, 128, 0.074);

    }

    .contact-container a {
        margin-right: 10px;
        font-size: 20px;
        font-weight: 600;
    }

    #contact h1 {
        font-size: 24px;
    }

    .contact-button__container {
        display: inline-block;
        justify-content: center;

    }


    .contact-button__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-button__container a {
        margin-bottom: 10px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        text-decoration: none;
        margin-right: 10px;
    }

    .contact-button__container a:last-child {
        margin-right: 0;
    }


    .skills-wrapper {
        /* background-color: rgba(128, 128, 128, 0.195); */
        display: flex;
        flex-direction: column;
        justify-content: space-between;


    }


    .skills-column {
        /* margin-right: 40px; */
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 1000px;
        /* border: 1px solid gray; */
        background-color: rgba(128, 128, 128, 0.074);
        max-width: 1000px;
        max-height: 500px;
        padding: 20px;
        min-width: 250px;


    }

    .skills-column:first-child {
        margin-right: 0px;
        margin-bottom: 20px;


    }

    .skills-column h2 {
        margin-top: 0;
        margin-bottom: 30px;
    }

    .professional-skills-container {
        margin: 0;
        padding: 0;
    }

    .personal-skills-container {
        margin: 0;
        padding: 0;
    }

    .professional-skills__item {
        list-style-type: none;
        margin-bottom: 30px;
        font-size: 14px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.195);
        padding-bottom: 5px;
        font-weight: 500;
    }

    .personal-skills__item {
        list-style-type: none;
        margin-bottom: 30px;
        font-size: 14px;
        font-weight: 500;
        border-bottom: 1px solid rgba(128, 128, 128, 0.195);
        padding-bottom: 5px;
    }

    #skills {
        padding: 30px 0px 20px 0px;
    }
    #skills h1{
        margin: 0px;
    }
    .experience-section {
        margin: 0;
        padding: 0;
    }
    .experience-section h2{
        padding-bottom: 10px;
        margin: 0;
        font-size: 16px;
    }
    .experience-section h3{

        font-size: 14px;
        margin: 0px;
    }

    .experience__item {
        margin-bottom: 10px;
    }

    .experience-container {
        margin-bottom: 60px;
    }

    .experience-container1 {
        margin-bottom: 0px;
    }

    #experience {
        padding: 30px 0px 0px 0px;
    }


    #email-button {
        display: inline-block;
        font-family: 'Libre Franklin', sans-serif;
        padding: 4px 20px;
        background-color: #337ab7;
        color: #fff;
        text-decoration: none;
        border-radius: 8px;
        font-weight: 500;
        text-align: center;
        font-size: 15px;
        /* border-bottom: 1px solid white; */

    }

   
    #email-button:hover {
        border-bottom: 1px none;

    }

    #email-button:focus {
        border-bottom: 0px solid gray;

    }

    .whatsapp-button:hover,
    focus {
        border-radius: 12px;
        color: #000;

        border-bottom: none;
    }

    .whatsapp-button:focus {
        border-radius: 12px;
        border-bottom: 0px solid rgb(246, 0, 0);

    }

    /* .whatsapp-button {
        border-radius: 12px;
        border-bottom: 1px solid white;
         
      } */

    #qr-code {
        display: none;
        margin-top: 20px;
    }


    .hamburger-menu {
        display: inline;
        position: fixed;
        top: 50px;
        right: 20px;
        z-index: 9999;
    }

    .hamburger-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 14px;
        height: 14px;
        cursor: pointer;
    }

    .hamburger-icon span {
        width: 100%;
        height: 2px;
        background-color: #e0dede;
    }

    .menu-items {
        position: absolute;
        top: 30px;
        right: 0;
        background-color: #ffffff;
        padding: 10px;
        list-style: none;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        border: 1px solid #000000;
    }

    .menu-items.show {
        opacity: 1;
        pointer-events: auto;
    }

    .menu-items li {
        margin-bottom: 10px;
    }

    .menu-items li a {
        color: #000000;
        text-decoration: none;
    }

    .menu-items li a:hover {
        color: #000000;
    }

    .hamburger-icon-wrapper {
        background-color: #e34234;
        padding: 10px 10px;
        border-radius: 50%;
        border: 2px solid #e34234;

    }
    .hamburger-icon-wrapper:hover{
        opacity: 0.9;
    }

    .tools-section-wrapper{
        margin-bottom: 20px;
        padding: 10px;
    
    background-color:rgba(128, 128, 128, 0.074);
    }
    
    .tools-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .tools-section__item{
       
        align-items: center;
        
    padding: 20px 20px 20px 20px;
    flex-basis: 120px;
    }

}